# ============================================================
# urls.yml
#
# 収集するRSSフィードのURLリスト / RSS feed URL list
# ============================================================
# example <list style>
# - https://<your rss url1> 
# - https://<your rss url2> 